{% extends 'viewer/base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h2>Images IRM disponibles</h2>
    {% if images %}
        <ul class="list-group">
            {% for image in images %}
                <li class="list-group-item">
                    <a href="{% url 'view_image' image.id %}">{{ image.title }}</a>
                    <small class="text-muted float-end">{{ image.uploaded_at }}</small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-warning mt-3">Aucune image disponible pour le moment.</div>
    {% endif %}
{% endblock %}
